@use './src/Styles/vars';

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_profil {
        display: flex;
        flex-direction: column;
        color: vars.$beige;
        font-size: 2rem;
        margin: 4rem;
        font-family: 'squartiqa';
        text-shadow:
                -0.2rem -0.2rem 0.5rem vars.$light-orange,
                0.2rem 0.2rem 0.5rem vars.$light-orange,
                0 0 1rem vars.$light-orange;
        .userName_title{
            margin: 0 2rem;
            color: vars.$light-green-blue;
            text-shadow:
                -0.2rem -0.2rem 0.5rem vars.$green-blue,
                0.2rem 0.2rem 0.5rem vars.$green-blue,
                0 0 1rem vars.$green-blue;
        }
    }
    
} 

/*@media (max-width: 500px) and (orientation: portrait) {
   .profil {
    scale: 0.8;
   }
}*/
