@use '../../Styles/vars';
.footer{
    height: vars.$footer_height;
    //position: relative;
}
.footer_content{
    //height: vars.$footer_height;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: vars.$blue;
    color: white;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;

    .navbar_footer{
        min-width: 60%;
        display: flex;
        justify-content: space-around;
        .link_footer {
            color:white;
        }
    }
}

@media only screen and (max-width: 400px) { 
    .navbar_footer{
        font-size: 1rem;
    }
}