$gutter: 0.8rem;
$height: 13vh;
$footer_height: 5vh;
$header_height: 13vh;
$main_height: calc(100% - $header_height - $footer_height);

$dark-blue: #022052; 
$blue: #056E91;
$green-blue: #058796;
$light-green-blue: #6BA89D;
$beige: #F0D6AB;
$light-orange: #F5A96A;
$orange: #F5672B;
$dark-orange: #F33418;



$background-color: $dark-blue;