@use './src/Styles/vars';

.highscores{
    font-family: 'Arcade', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
       
    .scores_container{
        height: 50rem;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/images/Highscores/scores_table.png');
        background-size: cover;
        width: 55rem;
        .title_highscores_container{
            display: flex;
            justify-content: center;
            align-items: center;
            .title_highscores_img{
                height: 6rem;
            }
            .title_highscores {
                font-size: 2.5rem;
                margin-top: 1rem;
                padding: 1rem;
            }
        }
        
        
        .scores_table{
            margin: 2.5rem;
            .column_title{
                padding: 4rem;
            }
            .column_content{
                padding: 0.5rem 0;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
    .backToHome_button_container{
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .linkToHome_highscores{
            font-family: 'Arcade', cursive;
        }
        .backToHome_button_img{
            height: 5rem;
            width: 7rem;
        }  
    }
   
}

@media (max-width: 500px) and (orientation: portrait) {
    .highscores{
        .scores_container{
            height: 35rem;
            margin: 2rem 0;
            width: 37rem;
            .title_highscores_container {
                .title_highscores_img{
                    height: 4rem;
                }
                .title_highscores {
                    font-size: 2rem;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
                }
            }
            .scores_table {
                margin: 2rem;
                .column_title{
                    padding: 2rem;
                }
                .column_content{
                    padding: 0.25rem 0;
                    font-size: 1rem;
                    text-align: center;
                }
            }
    }
}
}


@media (max-width: 375px) and (orientation: portrait) {
    .highscores{
        .scores_container{
            height: 28rem;
            margin: 1.5rem 0;
            width: 30rem;
            .title_highscores_container {
                .title_highscores_img{
                    height: 3.5rem;
                }
                .title_highscores {
                    font-size: 2rem;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
                }
            }
            .scores_table {
                margin: 1.5rem;
                .column_title{
                    padding: 1.1rem;
                }
                .column_content{
                    padding: 0.25rem 0;
                    font-size: 0.85rem;
                    text-align: center;
                }
            }
    }
}
}



